<% provide(:title, "Home") %>

<h1>Denis Naughton</h1>
<p>
	Hello
</p>

<p>
     I'm at the very beginning stages of learnig Ruby on Rails and I'm very excited!  Please look on my projects page. 
</p>
