<% provide(:title, "Projects") %>

<h1>Projects</h1>
<p>View my projects</p>
<p>
	<a href="https://github.com/dnaughty"><em>Github Account</em></a>
</p>

<p>
	<a href="https://dashboard.heroku.com/apps"><em>Heroku Apps</em></a>
</p>
